/* Goolge Fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Poppins:wght@400;600;700&display=swap');
/* Goolge Fonts CDN */

/* Common CSS Part Start */
body{
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'EB Garamond', serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
.btn{
    padding: 18px 30px;
    font-size: 18px;
    font-weight: 600;
    background: rgba(182, 140, 90, 1);
    color: white;
    border: none;
}
/* Common CSS Part End */

/* Banner Section Start */
.banner{
    background:linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%),url(../images/banner.png);
    background-repeat: no-repeat;
    background-position:center ;
    padding: 200px 0px;
    background-size: cover;
}
.banner-text input{
    padding: 18px 30px;
    color: #A0A0A0;
    border: none;
    border-radius: 6px;
}


/* Banner Section End */

/* Practice Area Section Start */
.card:hover{
    background:  linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0.377) 100%);
    transition: all linear .5s;
    border: 1px solid #3f3e3e;
}
.icon i{
    font-size: 25px;
    color: rgba(182, 140, 90, 1);
}

/* Practice Area Section End */

/* Client Say part Start */

.carousel-item img{
    height: 400px;
    width: auto;
}

/* Client Say part End */

/* FAQ Section Start */

.accordion-item{
    background:#F3F3F3;
    
}

/* FAQ Section End */

/* Contact Section */
.form input, textarea{
    text-align: left;
    padding-right: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-radius: 10px;
    background: rgba(243, 243, 243, 1);
    border: none;
    margin-bottom: 35px;
}
.btn-form{
    padding: 20px 130px;
}
/* Contact Section */

/* Footer Section */
.sub-icon input{
    background: rgba(243, 243, 243, 1);
}
.sub-icon i{
    background: rgba(182, 140, 90, 1);
    padding: 20px 20px;
    border-radius: 5px;
}
/* Footer Section */